@charset "utf-8";
/* CSS Document */
body{margin:0 auto; padding:0; font-size:14px; font-family:"풕턼환쥌",Tahoma,Arial,Helvetica,sans-serif; color:#666; background:url(../images/bj.gif) repeat;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,pre{margin:0;padding:0;}
h1,h2,h3,h4{font-size:18px; font-family:"풕턼환쥌",Tahoma,Arial;}
a{text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;}
img{ border:0 none; vertical-align:top;margin-top:30px;}
ul li{list-style:none;}
.c{clear:both; overflow:hidden; zoom:1;}
.center{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
.warp{width:1000px; margin:0 auto; clear:both;}
.ft12{ font-size:12px;}
.ft14{ font-size:14px;}
.ft16{ font-size:16px;}
.ft18{ font-size:18px;}
.ft20{ font-size:20px;}
.mt5{ margin-top:5px;}
.mt7{ margin-top:7px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt13{ margin-top:13px;}
.mt15{ margin-top:15px;}
.mt18{ margin-top:18px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.ml20{ margin-left:20px;}

.block10{ clear:both; height:10px;}
.block20{ clear:both; height:20px;}
.block25{ clear:both; height:25px;}
.block30{ clear:both; height:30px;}
.block40{ clear:both; height:40px;}
.block50{ clear:both; height:50px;}
.block60{ clear:both; height:60px;}

.more{ float:right; width:82px; height:23px; line-height:23px; text-align:center;display:inline; margin-right:10px; background:#FFFFFF; border:1px solid #ccc; margin-top:18px;}
.more a{ color:#666; font-size:12px;}
.more a:hover{ color:#ff9933; font-size:14px; font-weight:bold; text-decoration:none;}

#header_bg{ background:url(../images/bj01.jpg) top center repeat-x; height:96px;}
#header{ height:96px; position:relative;}
#header #logo{ position:absolute; left:0; top:0px;}
#header #sj{ width:500px; height:30px; line-height:30px; text-align:right; position:absolute; right:0; top:16px; color:#006699; font-size:15px;}
.tel{width:500px; position:absolute; right:0; top:50px; text-align:right;}
.tel h3{ height:28px; line-height:28px; overflow:hidden; font-size:18px; font-weight:normal; color:#ff7800;}
.tel h3 i{ font-style:normal; padding-left:5px;}


#menu_bg{ background:url(../images/bj02.png) repeat-x; height:36px;}
#menu{ height:36px;}
#menu li{ width:125px; float:left; display:inline; text-align:center; line-height:36px;}
#menu li a{ width:125px;height:36px;font-family:"풕턼환쥌"; font-size:18px; color:#fff; display:block;}
#menu li a:hover{width:125px; height:36px;color:#996600; text-decoration:none; background:url(../images/bj03.png) no-repeat;}
/*챬쒦온*/
#menu .mainlevel{width:125px; height:36px;position:relative; z-index:10000;}
#menu .mainlevel a:hover,#menu .hover a{ width:125px; height:36px;color:#996600; text-decoration:none; background:url(../images/bj03.png) no-repeat;}
#menu .mainlevel .lbul{ padding:0px; display:none; width:125px; overflow:hidden; position:absolute; top:36px; left:0px; z-index:1000;}
#menu .mainlevel .lbul ul{background:url(../images/bg01.png) repeat; padding:5px 0; width:166px; overflow:hidden; z-index:100;}
#menu li.mainlevel .lbul ul li{float:none; background:none; text-align:center; width:125px; height:30px; line-height:30px; overflow:hidden;}
#menu li.mainlevel .lbul ul li a{background:none; color:#FFF; height:30px; font-weight:normal; line-height:30px; width:125px; font-size:12px; display:block;}
#menu .mainlevel .lbul ul li a:hover{background:none; text-decoration:none; width:125px; height:30px; line-height:30px; color:#ffcc00;}


/*banner*/
#flash{width:100%; height:227px; clear:both; text-align:center; overflow:hidden;}
#flash .ad_slide img{width:100%; height:227px; overflow:hidden;}
#flashbox{position:relative; z-index:100; height:227px; overflow:hidde; text-align:center;}
.flash_box{ position:relative; z-index:100; height:227px; overflow:hidden;}
.flash_box li{ width:100%; height:227px;}
.flash_box li a{ height:384px; width:100%; overflow:hidden; display:block;}
#flashbox ul img{ width:100%; height:227px; overflow:hidden;}
#flashbox .prev,#flashbox .next{width:42px;	height:90px; position:absolute; top:30%; cursor:pointer; z-index:1000;}
#flashbox .prev{left:0; background:url(../images/L_btn.png) no-repeat; width:42px; height:90px;}
#flashbox .next{right:0; background:url(../images/R_btn.png) no-repeat; width:42px; height:90px;}

/*쓐퀑*/
.fltt_bg{ background:url(../images/bj04.png) left top; border-radius:5px; height:36px; line-height:36px; text-align:left; overflow:hidden; clear:both; font-family:"풕턼환쥌"; font-size:16px; color:#FFF; padding-left:30px;}
.fltt_bg2{ background:url(../images/bj05.png) left top; border-radius:5px; height:36px; line-height:36px; text-align:left; overflow:hidden; clear:both; font-family:"풕턼환쥌"; font-size:16px; color:#FFF; padding-left:15px;}
.fltt_bg2 h3{color:#FFF; font-weight:normal; font-size:18px;}
.fltt_bg3{ background:url(../images/bj06.png) left top; border-radius:5px; height:36px; line-height:36px; text-align:left; overflow:hidden; clear:both; font-family:"풕턼환쥌"; font-size:16px; color:#FFF; padding-left:15px;}
.fltt_bg3 h3{color:#FFF; font-weight:normal; font-size:18px;}

.lm_bg{ background:#ececec; zoom:1; overflow:hidden; padding:5px 0 10px 0;}
.lm_bg li{ display:block; background:url(../images/li.png) 182px center no-repeat; height:30px; overflow:hidden; text-align:left; line-height:30px;border-bottom:1px solid #dedddd; margin:0px 13px;}
.lm_bg li a{display:block;  padding:0 15px;font-size:14px; color:#333333;}
.lm_bg li a:hover{ display:block; font-size:14px; color:#fff; text-decoration:none; display:block; background:url(../images/li.png) 182px center no-repeat #4d82db;}
.lm_more{ font-family:"풕턼환쥌"; font-size:15px;}

.slidebox1{ width:752px; height:360px;clear:both; overflow:hidden;}
.slidebox1 ul{ list-style:none; text-align:center;}
.slidebox1 ul li{ width:180px; float:left; display:inline; margin:20px 4px 0px 4px;}
.slidebox1 li img{width:172px; height:120px; overflow:hidden; background:#FFFFFF; padding:3px; border:1px solid #eee;}
.slidebox1 ul li p a{width:180px; text-align:center; font-size:14px; height:30px; line-height:20px; overflow:hidden; color:#333; line-height:30px; font-family:"풕턼환쥌";}
.slidebox1 ul li p a:hover{color:#f56800; text-decoration:none;}
.slidebox1 ul li div{ margin-bottom:15px;}

/*촑핏훾*/
.banner{ width:232px; height:96px; overflow:hidden;}
.banner img{ width:232px; height:96px; overflow:hidden;}
.banner2{ width:362px; height:96px; overflow:hidden;}
.banner2 img{ width:362px; height:96px; overflow:hidden;}

.wb1{ padding:5px 15px; height:154px; overflow:hidden; line-height:28px; color:#333;}
.bjbs{ background:#ececec;}

.wb2{ padding:0px 15px; height:260px; overflow:hidden; line-height:28px; color:#333; text-indent:30px;}

.in_new{ background:#ececec; padding:0 10px 10px;}
.in_new ul{}
.in_new li{ height:30px; line-height:30px; overflow:hidden; border-bottom:1px solid #fff; font-size:14px; background:url(../images/li1.png) 5px center no-repeat; padding-left:26px;}
.in_new li a{ color:#333;}
.in_new li a:hover{ color:#f56800; text-decoration:none;}

#foot_bg {background: url(../images/bj03.jpg) top center repeat-x #fff;; font-family:"풕턼환쥌"; clear:both; overflow:hidden;
padding:30px 0; color:#333; font-size:14px; border-top:6px solid #4d82db;}
#copy{ line-height:30px; text-align:center; }
/*퀊쟈*/
.siderbar{position:fixed;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_margin-bottom:10px; z-index:10000;}
.siderbar li{display:block;text-align: center;width:45px;height:45px; background:#1b1b1d; position: relative;z-index:9999; margin-bottom:1px;}
.siderbar li a{display:block; width:35px;height:35px; padding:5px; font:300 14px/14px Microsoft YaHei;position:absolute;right:0px;}
.siderbar li a:hover{background:#fefcfd; color:#333132;text-decoration:none;text-align: center; z-index: -1;}
.siderbar li a em {text-align:left;color:#333132;cursor: pointer;display:none; font-style:normal; line-height:16px;}
.siderbar li a em img{ width:90px; height:90px; overflow:hidden; margin-top:-65px; float:left; margin-left:-96px;}
.zx,.fh,.kf,.sm{display:block;width:35px;height:35px;background:url(../images/siderbarpic.png);overflow:hidden;}
.fh{background-position: 0 0;}
.kf{background-position:0 -35px;}
.zx{background-position:0 -70px;}
.sm{background-position:0 -105px;}

#main_L{ width:232px; float:left; display:inline; overflow:hidden;}
#main_R{ width:752px; float:right; display:inline; overflow:hidden;}
.weizhi{ float:right; display:inline; color:#FFF; margin-right:10px;font-size:12px;}
.weizhi a{ color:#FFF; }
.page_con{ padding:10px 15px 30px 15px; font-size:14px; line-height:1.8; background:#fff;}
.page_con img{ max-width:720px; height:auto; width:expression(this.width > 720 ? "720px" : this.width); overflow:hidden;}

.con_title{text-align:center; font-size:20px; font-family:"풕턼환쥌"; margin-top:10px;}
.author{ text-align:center; font-size:12px; border-bottom:#ccc dashed 1px; height:28px; line-height:28px; font-family:"풕턼환쥌"; margin:5px 0px 10px 0px;}
.fy{ margin-top:30px; margin-bottom:20px; border-top:#ccc 1px dashed; padding-left:10px; padding-top:7px; line-height:30px; font-size:14px;}
.fy a:hover{ color:#a95b35; text-decoration:none;}

/*훱*/
.my_page{ text-align:center; margin-top:50px; margin-bottom:30px;}
.my_page li{display:inline; text-align:center; margin:0px 2px 0 0; padding:0px; font-size:12px; font-family:Arial;}
.my_page li a{padding:3px 7px;text-align:center; border:1px solid #acacac; color:#404040;  background:#FFF;}
.my_page li a:hover{ border-color:#333; color:#333; text-decoration:none;}
.my_page li.hover a{background:#333; border-color:#333; color:#fff;text-decoration:none;}
.fy{ margin-top:30px; margin-bottom:20px; border-top:#ccc 1px dashed; padding-left:10px; padding-top:7px; line-height:30px; font-size:14px;}

.news{ clear:both; overflow:hidden;}
.news li{ height:36px; line-height:36px; overflow:hidden; border-bottom:#ccc dashed 1px; font-size:14px; background:url(../images/li1.png)  5px center no-repeat; padding-left:26px;}
.news li a{ color:#333;}
.news li a:hover{ color:#f56800; text-decoration:none;}
.time{ float:right; display:inline; color:#666; font-family:Arial;}

.slidebox2{ padding:0; text-align:center; margin-top:15px;}
.slidebox2 li{ width:220px; float:left; display:inline; margin:0px 10px 0px 10px;}
.slidebox2 li img{width:212px; height:148px; overflow:hidden; background:#FFFFFF; padding:3px; border:1px solid #eee;}
.slidebox2 li p a{width:212px; text-align:center; font-size:14px; height:30px; line-height:20px; overflow:hidden; color:#333; line-height:30px; font-family:"풕턼환쥌";}
.slidebox2 li p a:hover{color:#f56800; text-decoration:none;}
.slidebox2 li div{ margin-bottom:10px;}


